#nav-container {
  background-color: rgb(96, 157, 255);
  padding-bottom: 2px;
}

#logo-header {
  height: 110px;
  width: 240px;
}

#nav-info {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.info-div {
  display: table-cell;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.info-div p {
  margin: auto;
  padding: 5px;
  font-size: 18px;
}

#contact-hours-tbl table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
