#card-image {
    width: 100%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-header:hover {
    background-color: #f7f7f7 !important;
}

@media (max-width: 375px) {
    #card-div {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}