#tracker-container {
    font-family: 'Abel';
    color: white;
}

.tracker-number {
    font-size: 5.5rem;
}

#tracker-name {
    font-size: 2rem;
}

@media (max-width: 375px) {
    .tracker-number {
        font-size: 3.5rem;
    }

    #tracker-name {
        font-size: 1.2rem;
    }
}