#footer-container {
    background-color: #6e6e6e;
}

#footer-nav-row {
    display: flex;
    align-items: center;
}

#copyright-row {
    margin-top: 20px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
}

#footer-logo-img {
    width: 240px;
    height: 120px;
    margin-right: 40px;
    margin-top: 10px;
}

#footer-logo-img:hover {
    background-color: #8a8a8a;
    border-style: 1px solid grey;
    border-radius: 90px;
    transition: 0.2s;
}

#info-row {
    margin-top: 20px;
}