#footer-container {
    background-color: #6e6e6e;
}

#footer-nav-row {
    display: flex;
    align-items: center;
}

#copyright-row {
    margin-top: 20px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
}

#footer-logo-img {
    width: 240px;
    height: 120px;
    margin-right: 40px;
    margin-top: 10px;
}

#footer-logo-img:hover {
    background-color: #8a8a8a;
    border-style: 1px solid grey;
    border-radius: 90px;
    transition: 0.2s;
}

#info-row {
    margin-top: 20px;
}

/* ----- MEDIA QUERIES ----- */

/* iPad - 1024px */
@media (max-width: 1024px) {
    
}

/* Tablet - 768px */
@media (max-width: 768px) {
    #footer-logo-img {
        width: 180px;
        height: 100px;
    }
}

/* Mobile XL - 553px */
@media (max-width: 553px) {
    #footer-logo-img {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Mobile L - 425px */
@media (max-width: 425px) {
    #footer-logo-img {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Mobile M - 375px */
@media (max-width: 375px) {
    #footer-logo-img {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Mobile S - 320px */
@media (max-width: 320px) {
    #footer-logo-img {
        margin-left: auto;
        margin-right: auto;
    }
}