#logo-container {
    display: flex;
}

#logo-div {
    background-color: #03b6fc;
    padding-left: 45%;
}

#logo-img {
    width: 240px;
    height: 120px;
    margin-right: 40px;
}

#logo-container {
    width: 100%;
    
}

#logo-triangle {
    width: 100px;
    height: 120px;
    background-image:
        linear-gradient(to bottom right, transparent 50%, #03b6fc 0),
        linear-gradient(to top right, #03b6fc 50%, transparent 0);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
    transform: rotate(180deg);
    position: relative;
    left: -50px;
    z-index: 0;
}