#logo-container {
    display: flex;
    width: 100%;
}

#logo-div {
    background-image: url('../../../images/logo-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 45%;
    padding-right: 60px;
}

#logo-img {
    width: 240px;
    height: 120px;
    margin-right: 40px;
}

#logo-img:hover {
    background-color: #00a2e0;
    border-style: 1px solid grey;
    border-radius: 90px;
    transition: 0.2s;
}

/* ----- MEDIA QUERIES ----- */


/* iPad - 1024px */
@media (max-width: 1024px) {
    #logo-div {
        padding-left: auto;
        padding-right: 80px;
    }

    #logo-div img{
        margin-left: -70px;
    }
}

/* Tablet - 768px */
@media (max-width: 768px) {
    #logo-div {
        padding-left: auto;
        padding-right: 80px;
    }

    #logo-div img{
        margin-left: -70px;
    }
}

/* Mobile XL - 553px */
@media (max-width: 553px) {
    #logo-div {
        padding-left: 240px;
        padding-right: 90px;
    }
}

/* Mobile L - 425px */
@media (max-width: 425px) {
    #logo-div {
        padding-left: 170px;
        padding-right: 40px;
    }

    #logo-img {
        margin-left: -30px;
    }
}

/* Mobile M - 375px */
@media (max-width: 375px) {
    #logo-div {
        padding-left: 135px;
        padding-right: 25px;
    }

    #logo-img {
        margin-left: -30px;
    }
}

/* Mobile S - 320px */
@media (max-width: 320px) {
    #logo-div {
        padding-left: 115px;
        padding-right: 0;
    }

    #logo-img {
        margin-left: -30px;
    }
}