#button-container {
    background-image: url('../../../images/buttons-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    height: 100%;
    text-align: center;
    padding-left: 80px;
    padding-top: 13px;
    margin-left: -100px;
}

#button-wrapper {
    height: 100%;
}

#nav-link {
    color:white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
    border-radius: 3px;
    font-size: 1rem;
}

#nav-link:hover {
    background-color: #0096d1;
    transition: 0.3s;
    text-decoration: none;
}

@media (max-width: 375px) {
    #nav-link {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1rem;
    }   
}