#nav-container {
  background-color: white;
}

#quadrant-logo {
  padding-left: 0px;
}

#quadrant-logo-below {
  height: 40px;
}

#quadrant-buttons {
  height: 50px;
  padding-right: 0px;
}

/* ----- MEDIA QUERIES ----- */

/* Laptop - 1024px */
@media (max-width: 1024px) {
  
}

/* Tablet - 768px */
@media (max-width: 768px) {
  
}

/* Mobile XL - 553px */
@media (max-width: 553px) {
  #quadrant-logo-below {
    background-color: red;
    width: 0;
    height: 0;
  }

  #top-row {
    margin-bottom: -20px;
  }

}

/* Mobile L - 425px */
@media (max-width: 425px) {
  #quadrant-logo-below {
    background-color: red;
    width: 0;
    height: 0;
  }

  #top-row {
    margin-bottom: -15px;
  }
}

/* Mobile M - 375px */
@media (max-width: 375px) {
  #quadrant-logo-below {
    background-color: red;
    width: 0;
    height: 0;
  }

  #top-row {
    margin-bottom: -10px;
  }
}

/* Mobile S - 320px */
@media (max-width: 320px) {
  #quadrant-logo-below {
    background-color: red;
    width: 0;
    height: 0;
  }

  #top-row {
    margin-bottom: -10px;
  }
}