#nav-container {
    background-color: rgb(150, 189, 253);
    padding-top: 5px;
    padding-bottom: 10px;
}

#logo-header {
    height: 140px;
    width: 280px;
}

.nav-button {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-div {
    display: inline-flex;
    background-color: white;
    border-radius: 7px;
    border: 2px solid black;
    margin-left: 10px;
}

.info-div p {
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.info-div svg {
    margin: auto;
    margin-left: 5px;
}

#row-top {
    
}

#row-bottom {
    margin-top: 10px;
    float: right;
}