#nav-container {
    background-color: rgb(150, 189, 253);
    padding-top: 5px;
    padding-bottom: 10px;
}

#logo-header {
    height: 140px;
    width: 280px;
}

.nav-button {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 6px;
    padding-top: 6px;
    
    color: white;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: normal;
    border-radius: 7px;
    border: 1px solid blue;

    background-image:#cc99ff;background-image:  
    radial-gradient(at 1% 0%, hsla(182,64%,73%,1) 0, transparent 59%),  
    radial-gradient(at 6% 29%, hsla(18,92%,69%,1) 0, transparent 43%),  
    radial-gradient(at 97% 89%, hsla(166,73%,77%,1) 0, transparent 41%),  
    radial-gradient(at 99% 19%, hsla(359,89%,66%,1) 0, transparent 58%);
}

.nav-button :hover {
    text-decoration: none;
}

#nav-buttons {
    display: flex;
    align-items: center;
}

.info-div {
    display: inline-flex;
    background-color: white;
    border-radius: 7px;
    border: 2px solid black;
    margin-left: 10px;
}

.info-div p {
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.info-div svg {
    margin: auto;
    margin-left: 5px;
}

#row-top {
    display: block;
    text-align: right;
}

#row-bottom {
    display: block;
    text-align: right;
}