#nav-container {
    background-color: rgb(150, 189, 253);
}

#logo-header {
    height: 90px;
    width: 150px;
}

.nav-button {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

#nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-div {
    display: inline-flex;
    margin: 5px;
    padding: 4px;
    border: solid 2px white;
    border-radius: 5px;
}